
.udapp {
	padding: 1em;
	border: 1px solid #333;
	position: relative;
}

.udapp input,
.udapp button,
.udapp-setup textarea,
.udapp-setup button {
    display: block;
    width: 100%;
    padding: 0.6em;
    box-sizing: border-box;
    border: 1px solid rgba( 0,0,0,0.3 );
    border-radius: 0.5em;
}

.udapp-setup textarea {
	border-radius: 0;
	margin-bottom: 1em;
	height: 7em;
}

.udapp-setup button {
	background-color: #556DF3;
	color: white;
	cursor: pointer;
}



.udapp .create {
	overflow: auto;
	margin-bottom: 1em;
}

.udapp .title {
	margin-bottom: 0.4em;
	display: inline-block;
	padding: 0.2em;
    background-color: rgba( 255,255,255,0.5 );
    display: block;
}




.udapp .output {
	padding: 1em;
    clear: both;
    word-wrap: break-word;
}

.udapp .output.error {
	background-color: rgba( 255, 0, 0, 0.5);
}

.udapp .output:empty {
	display: none;
}

.udapp-close:before {
	position: absolute;
    top: .4em;
    right: .4em;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    content: "x";
    cursor: pointer;
}

.udapp .instance {
	padding: 0.4em;
	background-color: #ccc;
	margin-bottom: 1em;
	position: relative;
}

.udapp .instance:last-child {
	margin-bottom: 0;
}

.udapp .instance.hide .title {
    margin-bottom: 0;
    padding-right: 1.5em;
    word-wrap: break-word;
}

.udapp .instance .title:before {
    content: "\25BC";
    opacity: 0.5;
    margin-right: 0.4em;
    font-size: 10px;
}

.udapp .instance.hide > *:not(.title) {
	display: none;
}

.udapp .instance.hide > .title:before {
    content: "\25B6";
}


.udapp .contractProperty {
	overflow: auto;
	margin-bottom: 0.4em;
}


.udapp input,
.udapp button {
	width: 33%;
	display: block;
	float: left;
}

.udapp .atAddress {
	background-color: green;
	margin-right: 1em;
	border-radius: 0.5em;
}

.udapp input { border-left: 0 none;}
.udapp button {
	background-color: #666;
	color: white;
	cursor: pointer;
}

.udapp .instance input,
.udapp .instance button {
	width: 50%;
	float: left;
}

.udapp .contractProperty.hasArgs input,
.udapp .contractProperty.hasArgs button {
	width: 50%;
}

.udapp .contractProperty .call {
	background-color: #D42828;
}

.udapp .contractProperty .constant {
	background-color: #556DF3;
}

.udapp .contractProperty input {
	display: none;
}

.udapp .contractProperty.hasArgs input {
	display: block;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.udapp .contractProperty.hasArgs button {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-right: 0;
}


.udapp .poweredBy {
	float: right;
	color: #666;
	font-size: 12px;
}